

h2, h3 {
    text-align: center;
    padding-top: 40px;
}

#startSurvey {
    margin-left: 175px;
    margin-top: 35px;
}

#logout {
    margin-left: 210px;
    margin-top: 70px;
}

#header {
    margin-top: 30px;
    font-size: 35px;
    text-align: center;
    font-family: 'Pacifico', cursive; 
}