
<div *ngIf="auth.user$ | async as user" class="hero-unit">
  <div *ngIf="!startSurvey; else survey">
    <div id="header">
      Better Days
    </div>
    <h2>Good Morning {{ user.displayName }}!</h2>
    <h3>Today is {{ date }}</h3>
      <button type="button" class="btn btn-outline-primary mr-2" id="startSurvey" (click)="onClick()">
        Start daily survey
      </button>
      <div>
      <button type="button" class="btn btn-outline-primary mr-2" id="logout" (click)="auth.signOut()">
        Log Out
      </button>
    </div>
  </div>

  <ng-template #survey>
    <app-add-mood-item></app-add-mood-item>
  </ng-template>
</div>
