<div class="showData">
  <div class="wrapper">
    <app-loading-spinner *ngIf="showLoading$; else data"></app-loading-spinner>
    <ng-template #data>
      <div  *ngIf="auth.user$ | async; then authenticated else guest">
      <!-- template will replace this div -->
    </div>

    <!-- User not logged in -->
    <ng-template #guest>
      <app-user-profile></app-user-profile>
    </ng-template>


    <!-- User logged in -->
    <ng-template #authenticated>
      <app-survey></app-survey>
    </ng-template>
    </ng-template>
  </div>
</div>